@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-larger: 7.5rem;
    --font-stack: 'Poppins', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --black: #000;
    --blue: #3251ff;
    --white: #f0e9f2;
    --white-1: #e5e5e6da;

    --container-max-width: 85vw;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --medida-big: 12rem;
    --medida-medium: 6rem;
    --medida-normal: 3rem;
    --medida-small: 2rem;

    --border-light: 1px solid rgb(36, 35, 35);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 400;
    color: var(--white-1);
    line-height: var(--line-height-normal);
    background: var(--black);
    overflow-x: hidden;
}

.section-container {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

section {
    padding: var(--medida-big) 0;
    border-bottom: var(--border-light);
}

img {
    max-width: 100%;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */

h1,
h2,
h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

.heading-info {
    font-size: var(--font-size-larger);
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--medida-medium);
}

h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--blue);
    margin: var(--medida-small) 0;
}

h3 {
    font-size: var(--font-size-medium-1);
    margin-bottom: var(--medida-small);
}

/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    color: var(--white);
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
}

.link:hover {
    color: var(--blue);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid  var(--blue);
    font-weight: 400;
}



.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: var(--blue);
}

.btn--blue {
    background: var(--blue);
    transition: all 0.2s;
}

.btn--blue::after {
    display: none;
}

.btn--blue:hover,
.btn--blue:focus {
    background: transparent;
}

.link__text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--blue);
}

.link__text::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.link__text:focus {
    outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
    right: 0;
    background: var(--blue);
}

.link__text span {
    padding-left: 1rem;
    font-family: sans-serif;
}


/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding: var(--medida-normal) 0;
    width: 100%;
    z-index: 100;
}


.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.menu-toggle {
    font-size: 20px;
    cursor: pointer;
    display: none;
}

#toggle {
    display: none;
}

  
/**
  Hamburger
**/
.hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
  }
  .hamburger:hover{
    cursor: pointer;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: var(--blue);
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + #nav-list.show {
    top: 0;
    transform: scale(1);
  }

.nav__items {
    list-style: none;
    margin-right: 2vw;
}

.nav__item{
    margin-left: 2vw;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s ease-in-out;
}

.nav__link:hover {
    color: var(--blue);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--blue);
}

/* --------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------- */

.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('./images/header3.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: var(--font-size-normal);
}

.header__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__text p {
    margin: 1.5rem 0 3.5rem;
    max-width: var(--container-medium-width);
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-medium);
}

/* --------------------------------------- */
/* ----- Services ----- */
/* --------------------------------------- */

.service__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.service__box {
    position: relative;
    margin: 10px;
    width: calc(100% / 3 - 20px);
}
.service__icon img {
    transition: transform 0.3s ;
    max-width: 100%;
    height: auto;
}
.service__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: var(--blue);
}
.service__box:hover .service__icon img{
    transform: scale(0.9);
}
.service__box:hover .service__text {
    z-index: 1;
    opacity: 1;
}



/* --------------------------------------- */
/* ----- project ----- */
/* --------------------------------------- */

.section-container h2 {
    margin-bottom: var(--medida-big);
}
.project__code {
    display: block;
    height: 3rem;
    margin-left: var(--medida-normal);
    transition: all .3s;
}

.project__code:hover {
    transform: scale(1.2);
}

.project__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project__box {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.project__links{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.project__image:hover{
    transition: all .3s;
    transform: scale(1.5);
    border: var(--blue) 2px solid;
    border-radius: 10px 10px ; 
}

.project__text {
    flex: 0 0 100%;
}

.project__image-box {
    margin-bottom: var(--medida-normal);
}

/* --------------------------------------- */
/* ----- Testimonies ----- */
/* --------------------------------------- */


.testimony__boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.testimony__box {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: var(--medida-medium);
    width: 35%;
    text-align: center;
    transition: transform 0.3s;
}


.testimony__box:hover {
    transform: scale(1.05);
}

.testimony__img {
    max-width: 30%;
    margin-left: var(--medida-medium);
}

.testimony__text {
    padding: var(--medida-medium);
}

.testimony__text p {
    font-size: var(--font-size-small);
    color: var(--black);
}

.testimony__text cite {
    display: block;
    margin-top: var(--medida-small);
    font-style: italic;
    color: var(--blue);
}


/* --------------------------------------- */
/* ----- Skills ----- */
/* --------------------------------------- */

.skills__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}


.skills__logo img {
    width: 5%;
}

.container-skills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    width: 80%;
    background-color: var(--colorFondo);
    color: #fff;

}

.iconskills{
    width: 30%;
    flex-basis: 33%;
}


.skills--content{
    width: 75%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skills--bar{
    display: flex;
    width: calc(100% / 2 - 10px);
    gap: 10px;
    flex-direction: section-container;
    align-items: center;
    justify-content: center;
}

.skill--name{
    font-weight: 100;
    display: flex;
    justify-content: space-between;
}

.skill--name h3{
    font-weight: 500;
}

.skills--progress{
    background-color: white;
    width: 100%;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.skills--progress span{
    height: 100%;
    background-color: var(--blue);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.skills--subtitle{
    line-height: 70px;
}

/* BAR PROGRESSES ANIMATIONS*/
#barProgress60{
    animation: progress60 4s infinite;
}
#barProgress70{
    animation: progress70 4s infinite;
}
#barProgress75{
    animation: progress75 4s infinite;
}
#barProgress80{
    animation: progress80 4s infinite;
}
#barProgress90{
    animation: progress90 4s infinite;
}
#barProgress95{
    animation: progress95 4s infinite;
}

@keyframes progress60 {
    0%{width: 10%;}
    50%{width: 60%;}
    100%{width: 10%;}
}
@keyframes progress70 {
    0%{width: 10%;}
    50%{width: 70%;}
    100%{width: 10%;}
}
@keyframes progress75 {
    0%{width: 10%;}
    50%{width: 75%;}
    100%{width: 10%;}
}
@keyframes progress80 {
    0%{width: 10%;}
    50%{width: 80%;}
    100%{width: 10%;}
}
@keyframes progress90 {
    0%{width: 10%;}
    50%{width: 90%;}
    100%{width: 10%;}
}
@keyframes progress95 {
    0%{width: 10%;}
    50%{width: 95%;}
    100%{width: 10%;}
}


/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */
.about__content {
    display: flex;
    flex-direction: section-container-reverse;
    align-items: center;
}

/* --------------------------------------- */
/* ----- Contact ----- */
/* --------------------------------------- */

.contact__info {
    max-width: var(--container-medium-width);
}
.contact {
    background-color: #f9f9f9;
    padding: var(--medida-big) 0;
}

.contact .section-container {
    max-width: var(--container-medium-width);
    margin: 0 auto;
}

.contact h2 {
    font-size: var(--font-size-medium-1);
    margin-bottom: var(--medida-medium);
    color: var(--black); 
}

.contact__info {
    background-color: #fff;
    padding: var(--medida-medium);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact__input {
    width: 100%;
    padding: 10px;
    margin-bottom: var(--medida-small);
    border: 2px solid var(--blue);
    border-radius: 4px;
    box-sizing: border-box;
}
.contact__info p{
    color: var(--black);
}

.btn {
    display: inline-block;
    background-color: var(--black);
    color: #fff;
    padding: 10px 20px;
    font-size: var(--font-size-normal);
    text-decoration: none;
    border: var(--blue) 2px solid;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--blue);
    cursor: pointer;
}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

.footer {
    text-align: center;
    padding: var(--medida-medium) 0 var(--medida-normal);
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--medida-normal) 0;
    list-style: none;
}

.footer__social-link-item{
    margin-right: var(--medida-small);
}

.footer__social-image {
    height: 4rem;
}


/* --------------------------------------- */
/* ----- Media-Querys ----- */
/* --------------------------------------- */

@media(max-width: 500px) {
    .header__text p {
        transform: scale(.8);
    }

    .footer {
        padding: var(--medida-medium) 0;
    } 
}

@media(max-width: 700px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }
    .nav-list.show {
        display: flex;
        background-color: var(--black);
    }

    .nav-list li {
        margin: 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .navbar.toggle{
        background-color: var(--black);
        height: 10vh;
    }

    .project__box {
        width: 100%; 
        align-items: initial;
        flex-direction: column-reverse;
    }
    .project__box {
        align-items: center;
        width: 80%;
        flex-direction: column-reverse;
    }
    .project__image-box {
        margin-bottom: var(--medida-medium);
        width: 70%;
    }
}


@media(min-width: 700px) {
    .navbar.active {
        transition: all 0.5s ease-in-out;
        background: var(--blue);
        height: 10vh;
        padding-block: 20px;
    }

    .nav__link.active{
        color: var(--black);

    }
    .nav__link.active:hover{
        color: var(--white);

    }

    .project__box {
        width: 48%; 
        flex-direction: column-reverse;
    }
}
@media(max-width: 900px) {
    .about__content {
        flex-direction: column-reverse;
        align-items: initial;
    }
    .skills--content{
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .skills__logo {
        margin-bottom: var(--medida-normal);
    }

    .project__code {
        height: 4rem;
    }

    .project__image-box {
        margin-bottom: var(--medida-medium);
    }
    .service__box {
        width: 48%; 
        flex-direction: column-reverse;
    }
}

@media(min-width: 900px) {
    .about__text {
        flex: 0 0 35%;
    }
    
    .project__image-box {
        flex: 1;
        margin: 0 10rem 0 0;
    }

    .project__boxes {
        display: flex;
        flex-basis: 40%;
        justify-content: space-between;
    }

    .project__box {
        width: 31%;
    }


}
@media(max-width: 900px) {
    .heading-info {
        font-size: 6.5rem;
    }
}

@media(max-width: 1240px) {
    .section-container {
        max-width: 1000px;
    }
    .section-container {
        padding: 0 var(--medida-medium);
    }
    .testimony__box {
        width: 48%; 
        flex-direction: column-reverse;
    }

}

